<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>@ViewBag.Title :: Collection Manager</title>
    <link href="@Url.Content("~/Content/assets/css/style.default.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/assets/css/sweetalert2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/jquery.datatables.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/mark.cssloader.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/override.css")" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/assets/js/html5shiv.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/respond.min.js")"></script>
    <![endif]-->

</head>
<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>

    <section>

        @Html.Partial("_Menu")
        <div class="mainpanel">
            @Html.Partial("_TopPanel")
            @Html.Partial("_PageHeader")


            <div class="contentpanel">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
</section>


    


    
    <script src="@Url.Content("~/Content/assets/js/jquery-1.11.1.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/jquery-migrate-1.2.1.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/jquery-ui-1.10.3.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/select2.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/accounting.min.js")"></script>

    <script src="@Url.Content("~/Content/assets/js/datatables.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/sweetalert2.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/jquery.sparkline.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/toggles.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/retina.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/jquery.cookies.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/flot/jquery.flot.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/flot/jquery.flot.resize.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/flot/jquery.flot.spline.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/morris.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/raphael-2.1.0.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/AppUtils.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/custom.js")"></script>
    
    
    <script>
        $(function () {

            $("select.select2").select2();

            function reposition() {
                var modal = $(this),
                    dialog = modal.find('.modal-dialog');
                modal.css('display', 'block');

                // Dividing by two centers the modal exactly, but dividing by three
                // or four works better for larger screens.
                dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
            }
            // Reposition when a modal is shown
            $('.modal').on('show.bs.modal', reposition);
            // Reposition when the window is resized
            $(window).on('resize', function () {
                $('.modal:visible').each(reposition);
            });
        })
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
